body{
    background-color: black;
    color: white;
}

.navbar{
    background: #405678;
    padding: 10px 5px;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
}

.navbar ul li {
    list-style: none;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
}

.navbar ul li a:hover{
    color: aqua;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0px 20px;
}

.card{
    background: wheat;

}

.input{
    background:white;
    padding: 10px;
}